loguru
peewee
pydantic<2.0.0
PyMySQL
python-dotenv
python-multipart
pytz
PyYAML
requests
uvicorn
fastapi
pymilvus==2.3.1
minio
filetype
iv2
torch==2.0.1

nicegui==1.4.5 
markdown2
Pygments

fastapi-socketio
python-socketio

orjson
itsdangerous
aiofiles
httpx
nicegui-highcharts
ifaddr
pywebview
plotly
matplotlib
icecream

pytest-selenium
pytest-asyncio
pytest
itsdangerous
isort
pandas
secure
webdriver-manager

docutils
